<form action="/articles" method="POST">
  <label for="title">Article Title</label>
  <input type="text" value="title" name="title">
  <label for="content">Article Content</label>
  <input type="area" value="content" name="content">
  <input type="submit" value="Submit">
<<<<<<< HEAD
=======
  
>>>>>>> 2fb2ea7d636f21d645dd7aa7058cdd70f19682ba
</form>